<br>
<br>
<h1> 포스팅 목록 </h1>
<hr/>
<h3>'폴크스바겐 조작' 국내 소비자 첫 소송…송사 잇따를 듯</h3>
<h5>폴크스바겐 디젤차량 배기가스 저감장치 조작과 관련해 미국 등지에서 소송이 잇따르는 가운데 국내에서도 첫 소송이 제기될 것으로 보인다.

30일 법무법인 바른에 따르면 폴크스바겐과 아우디 경유차를 소유한 2명이 폴크스바겐그룹과 아우디폭스바겐코리아 등을 상대로 이날 서울중앙지방법원에 부당이득 반환 청구 소송을 제기할 예정이다.

원고의 소송 대리인인 바른은 "피고들의 기망행위(속임수)가 없었다면 원고들은 제작차 배출허용 기준을 준수하지 못하는 자동차를 거액을 지불하고 구입하지 않았을 것"이라면서 " 민법 제110조에 따라 자동차 매매계약을 취소한다"고 밝혔다.

바른은 또 "매매계약이 소급적으로 무효가 됐으므로 피고들은 원고들이 지급한 매매대금을 지급할 의무가 있다"면서 "구입 시점부터 매매대금에 대한 연 5%의 이자도 반환하라고 덧붙였다.

원고들이 구입한 차량은 각각 2014년형 아우디 Q5 2.0 TDI와 2009년형 폴크스바겐 티구안 2.0 TDI으로 가격은 6천100만원과 4천300만원이다. 

바른은 소장에서 "피고들이 적은 배출가스로 환경을 보호하면서도 휘발유 차량보다 연비는 2배 가량 좋고 시내 주행 시 가속 성능이 훨씬 낫다고 광고해 이를 믿은 원고들로 하여금 동종의 휘발유 차량보다 훨씬 비싼 프리미엄을 지불하면서 상대적으로 고가에 차량을 구입하게 했다"고 지적했다. 

원고 측은 부당이득 반환과 함께 예비적으로 각 3천만원의 손해배상을 청구했다.

바른은 "대기환경보전법상의 배출허용 기준을 충족하게 하려면 차량의 성능을 저하시키고 연비를 악화시킬 수밖에 없어 추가적 손해를 입게 됐다"고 주장했다.

이번 소송 제기로 폴크스바겐의 디젤차량 배기가스 조작과 관련한 국내 소송이 잇따를 전망이다.

바른 관계자는 "폴크스바겐과 아우디 차량을 리스 방식으로 이용하는 소비자들까지 포함해 소송을 확대할 방침"이라고 밝혔다.</h5>