<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <!--<a href='/'>Home</a>-->
  <!--<a href='/login'>Login</a>-->
  <!--<a href='/posting'>Posting</a>-->
  <!--<a href='/schedule'>Schedule</a>-->
  <!--<a href="/contacts"> Phonebook</a>-->
  <!--<a href='/login'>Login</a>-->
  
  <a href="/"><button name="button" type="submit">Home</button></a>
  <a href="/about"><button name="button" type="submit">About</button></a>
  <a href="/posting"><button name="button" type="submit">Posting</button></a>
  <a href="/schedule"><button name="button" type="submit">Schedule</button></a>
  <a href="/contacts"><button name="button" type="submit">Phonebook</button></a>
  <a href="/login"><button name="button" type="submit">Login</button></a>

<%= yield %>

</body>
</html>
